.service {
    width: 100%;
    height: auto;
}

.text-service {
    color: rgb(255, 254, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
}

.text-service h2 span {
    color: #a22a2a90;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.199);
}

.text-service h1 {
    font-size: 60px;
    margin: 0px 300px;
    font-weight: bolder;
    text-transform: uppercase;
}

.service-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px 600px;
    gap: 50px;
    margin: 30px 50px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #00000065;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 5px 4px 6px rgba(255, 255, 255, 0.5);
}

.card-1:hover {
    background: #000;
    transform: scale(1.05);
}

.card-img {
    background: white;
    border-radius: 10px;
}

.card-1 span {
    font-size: 30px;
    font-family: math;
}

.card-1 p {
    margin: 0px 70px;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .text-service h1 {
        font-size: 50px;
        margin: 0px 100px;
    }

    .service-card {
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .service-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px 400px 400px;
        margin: 20px 30px;
        gap: 20px;
    }

    .text-service h1 {
        font-size: 40px;
        margin: 0px 50px;
    }

    .card-1 {
        gap: 20px;
    }

    .card-1 span {
        font-size: 25px;
    }

    .card-1 p {
        margin: 0px 40px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .text-service h1 {
        font-size: 35px;
        margin: 0 20px;
    }

    .service-card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6 ,300px);
        margin: 20px 10px;
    }

    .card-1 {
        gap: 15px;
    }

    .card-1 span {
        font-size: 22px;
    }

    .card-1 p {
        margin: 0px 20px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .text-service {
        gap: 30px;
    }

    .text-service h1 {
        font-size: 30px;
        margin: 0px 10px;
    }

    .text-service h2 {
        font-size: 20px;
    }

    .card-1 {
        padding: 10px;
        gap: 10px;
    }

    .card-1 span {
        font-size: 20px;
    }

    .card-1 p {
        font-size: 12px;
        margin: 0px 10px;
    }
}
